<div class="unAuthHomePage">
  <div class="backgroundColor">
    <div class="content">
      <h1 class="display-4">Welcome To Chat Fake Zalo</h1>
      <h2>Chat with your friends for free</h2>
    </div>
  </div>
</div>

<footer>
  <div class="copyright">
    <p>Copyright &copy; 2020 Chat Fake Zalo. All rights reserved</p>
  </div>
</footer>
